<nav
  class="
    d-flex
    flex-wrap
    align-items-center
    justify-content-center justify-content-md-between
    fixed-top
    bg-light
    py-3
    border-bottom
    mb-4
  "
>
  <a
    class="
      d-flex
      align-items-center
      col-md-3
      mb-2 mb-md-0
      col-11
      text-dark text-decoration-none
    "
  >
    <button class="btn" type="button">
      <img
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBackdrop"
        aria-controls="offcanvasWithBackdrop"
        src="../../assets/img/menu.svg"
        alt="menu"
        width="30"
        height="24"
        class="d-inline-block align-text-top bi me-2"
      />
    </button>

    Beautfy</a
  >
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a class="nav-link px-2 link-secondary">Home</a></li>
    <li><a class="nav-link px-2 link-dark">Products</a></li>
    <li><a class="nav-link px-2 link-dark">Pricing</a></li>
    <li><a class="nav-link px-2 link-dark">FAQs</a></li>
    <li><a class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div class="col-md-3 text-end d-none d-sm-block">
    <button (click)="logout()" type="button" class="btn btn-primary me-2">
      logout
    </button>
    <button
      type="button "
      class="pi pi-shopping-cart btn btn-outline-primary"
      style="font-size: 1.5em"
    ></button>
  </div>
</nav>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasWithBackdrop"
  style="width: 20rem"
>
  <div
    class="d-flex flex-column p-3 bg-light"
    style="width: 20rem; height: 100%"
  >
    <a
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        link-dark
        text-decoration-none
      "
    >
      <div class="fs-4">Menu</div>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"> Home </a>
      </li>
      <li>
        <a class="nav-link link-dark"> Dashboard </a>
      </li>
      <li>
        <a class="nav-link link-dark"> Orders </a>
      </li>
      <li>
        <a class="nav-link link-dark"> Products </a>
      </li>
      <li>
        <a class="nav-link link-dark"> Customers </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
