<div class="row">
  <div class="col-12 carousel-container pt-5">
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          [attr.data-bs-slide-to]="i"
          [ngClass]="[i === 0 ? 'active' : '']"
          [attr.aria-current]="i === 0 ? true : false"
          [attr.aria-label]="'Slide ' + i"
          *ngFor="let carouselItem of carouselList; let i = index"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          [ngClass]="['carousel-item', i === 0 ? 'active' : '']"
          *ngFor="let carouselItem of carouselList; let i = index"
        >
          <div
            class="img-container"
            [ngStyle]="{
              'background-image':
                'linear-gradient(to bottom, rgba(245, 245, 245, 0), rgba(0, 0, 0, 0.5)), url( ' +
                carouselItem.img +
                ')'
            }"
          ></div>
          <div class="carousel-caption d-none d-md-block">
            <h5 [innerHtml]="carouselItem.title"></h5>
            <p>{{ carouselItem.description }}</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
